extends layout
    head
      link(rel='stylesheet', href='../public/css/messenger.css')
      link(rel='stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

block content
    div.container
        div#userFormArea.row
            div.col-md-12
                form#userForm
                    div.form-group
                        label Enter Username
                        input#username.form-control
                        br
                        button.btn.btn-primary(type='submit') Login

        div#messageArea.row
            div.col-md-4
                div.well
                    h3 Online Users
                        ul#users.list-group

            div.col-md-8
                div#chat.chat
                form#messageForm
                    div.form-group
                        label Enter Message
                        textarea#message.form-control
                        br
                        button.btn.btn-primary(type='submit') Send Message

script(src='http://code.jquery.com/jquery-latest.min.js')
script(src='/socket.io/socket.io.js')
script(src='/messenger-test/messenger-main.js')                                   
        