div#photo-comments
          h3 Comments
          each comment in photo.comments
            div.well
              div.media
                div.media-body
                  if comment.canDeleteComment
                    button.pull-right.glyphicon.glyphicon-trash.big.delete-comment
                  p= comment.comment.date
                  h4.margin-t-0
                    a(href=`/profile/${comment.user}`) #{comment.comment.user} 
                  p= comment.comment.content