html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Photo store
    link(rel='stylesheet', href='/css/landing-page.css')

  body
    div.home-image-wrapper
       h1.header-title PIXELS
       if !user
          a.button-discover(href="photo/hot") Discover
          a.button-signin(href="/login") Sign in
          a.button-signup(href="/signup") Sign up
       else
          a.button-discover(href="photo/hot") Discover
          a.button-profile(href="/account") Profile
    script(src='/js/lib/jquery-2.2.4.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')

    