extends layout

block content
  .page-header
    h2#main
      img(src=`data:${photoModel.contentType};base64,${photoModel.data}`)
     
      p= photoModel.votes + ' votes'
      div.voting
        if photoModel.hasUser
          if photoModel.canUpvote
            button.fa.fa-camera-retro.vote Vote
          else 
            button.fa.fa-thumbs-down.unvote Unvote

      ul 
        each comment in photoModel.comments
          li= comment.content

      if photoModel.hasUser
        input.form-control(type='text', name='content', id='content', autofocus, required)
        button#comment Comment

  script(src='/js/requester.js')
  script(src='/js/voter.js')