extends layout

block content
  .page-header
    h2
      i.fa.fa-upload
      | Upload Photo

  .row
    .col-sm-6
      form(role='form', enctype='multipart/form-data', method='POST')
        .form-group
          label.control-label File
          input(type='file', name='myFile')
          label.control-label Title
          input(type='text', name='title')
          label.control-label Description
          input(type='text', name='description')
        button.btn.btn-primary(type='submit') Upload
