extends layout

block content
  .page-header
    h2
      i.fa.fa-upload
      | Upload Photo

  .row
    .col-md-8
      form.upload-wrapper(role='form', enctype='multipart/form-data', method='POST')
        .form-group
          label.control-label-file.col-xs-9 Select photo (Max size: 30MB)
          input.upload-file.col-xs-9(type='file', name='myFile')
          label.control-label-title.col-xs-9 Choose Title
          input.upload-title(type='text', name='title')
          label.control-label-description.col-xs-9 Fancy description
          textarea.upload-description.col-xs-9(cols="40" rows="5", name='description')
          label.control-label-tags.col-xs-9 Add tags (Separated by a comma - ',')
          input.upload-tags(type='text', name='tags')
        button.btn.btn-primary.col-xs-9(id="submit-upload" type='submit') Upload
