@import "lib/font-awesome/font-awesome";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
}

.home-image-wrapper{
   background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ), url("../images/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  text-align: center;
}

a:link, a:visited, a:hover, a:active   {
    text-decoration: none;
    color: white;
}

.button-wrapper{
  position: fixed;
  bottom: 35;
  width:100vw;
  height: auto;
}
.button-discover, .button-signin, .button-signup, .button-profile{
    padding: 20px;
    position: relative;
    margin: 1%;
    margin-top:15%;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid grey;
    color: white;
    link-style-type: none;
    height: 5vh;
}

.button-discover:hover, .button-signin:hover , .button-signup:hover, .button-profile:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.header-title {
     position: relative;
     color: rgba(255, 255, 255, 0.7); 
     font-family: 'Helvetica Neue', sans-serif; 
     font-size: 150px; 
     font-weight: bold; 
     letter-spacing: -1px; 
     line-height: 1;
     text-align: center; 
     top: 20%;  
}  

.header-subtitle {
     position: relative;
     color: rgba(255, 255, 255, 0.4); 
     font-family: 'Helvetica Neue', sans-serif; 
     font-size: 30px; 
     font-weight: bold; 
     letter-spacing: 0px; 
     line-height: 1;
     text-align: center; 
     top: 2%;
}  

.profile-pic{
   width: 70px;
   border: 2px solid white;
   border-radius: 40px;
   overflow: hidden;
}

.profile-details-wrapper{
    margin-top: 5%;
}

.profile-name{
    display: block;
    margin-top: 1%;
}

.logout-pics{
  margin-top: 1%;
}

@media (max-width: 400px) and (max-height: 700px) and (orientation: portrait) {
    .header-title { 
      font-size: 80px;
    }   
    .header-subtitle{
      font-size: 15px;
      top: 15%;
    }
    .button-discover, .button-signin, .button-signup, .button-profile{
    margin-top:60%;
    }
    .profile-details-wrapper{
       margin-top: 40%;
    }
 }

 @media (max-width: 700px) and (max-height: 400px) {
    .header-title { 
      font-size: 80px;
    }   
    .header-subtitle{
      font-size: 15px;
      top: 5%;
    }
    .button-discover, .button-signin, .button-signup, .button-profile{
      margin-top:60%;
    }
    .profile-pic{
      width: 25px;
    }
    .profile-name{
      font-size: 13px;
    }
    .profile-details-wrapper{
       margin-top: 5%;
    }
 }

@media (min-width: 1000px) and (max-width: 1300px){
      font-size: 30px;
      top: 15%;
}
 

 @media (min-width: 1400px){
    .header-title { 
      font-size: 200px;
    }   
    .header-subtitle{
      font-size: 40px;
      top: 5%;
    }
    .button-discover, .button-signin, .button-signup, .button-profile{
      margin-top:50%;
    }
    .profile-pic{
      width: 60px;
    }
    .profile-name{
      font-size: 13px;
    }
    .profile-details-wrapper{
       margin-top: 15%;
    }
 }

 @media (min-width: 1900px){
    .header-title { 
      font-size: 200px;
    }   
    .header-subtitle{
      font-size: 40px;
      top: 5%;
    }
    .button-discover, .button-signin, .button-signup, .button-profile{
      margin-top:50%;
    }
    .profile-pic{
      width: 100px;
      border-radius: 80px;
    }
    .profile-name{
      font-size: 18px;
    }
    .profile-details-wrapper{
       margin-top: 15%;
    }
 }
 

  @media (min-width: 2500px){
    .header-title { 
      font-size: 250px;
    }   
    .header-subtitle{
      font-size: 50px;
      top: 10%;
    }
    .button-discover, .button-signin, .button-signup, .button-profile{
      margin-top:50%;
      height: 100px;
    }
    .profile-pic{
      width: 150px;
    }
    .profile-name{
      font-size: 24px;
    }
    .profile-details-wrapper{
       margin-top: 15%;
    }
 }
