 body {
     margin-top: 60px;
 }
 
 h1 {
     margin-top: -35px;
     margin-bottom: 35px;
     text-align: center;
 }
 
 label {
     font-size: 20px;
 }
 
 .chat {
     font-size: 20px;
 }
 
 strong {
     font-size: 20px;
     color: forestgreen;
 }
 
 #messageArea {
     display: none;
 }
 
 #online-dot {
     display: inline-block;
     width: 10px;
     height: 10px;
     margin-bottom: 2px;
     margin-right: 10px;
     border-radius: 50%;
     background-image: -moz-radial-gradient(95px 9px 195deg, circle cover, limegreen 0%, limegreen 100%, limegreen 95%);
     background-image: -webkit-radial-gradient(95px 222px, circle cover, limegreen, limegreen);
     background-image: radial-gradient(95px 95px 95deg, circle cover, limegreen 0%, limegreen 100%, green 95%);
     animation-name: spin;
     animation-duration: 3s;
     /* 3 seconds */
     animation-iteration-count: infinite;
     animation-timing-function: linear;
 }