/**
* Landing page colors
*/
$home-background: rgba(0, 0, 0, 0.6);
$home-link-color: #ffffff;
$home-buttons-color: rgba(0, 0, 0, 0.0);
$home-buttons-hover: rgba(0, 0, 0, 0.5);
$header-title-color: rgba(255, 255, 255, 0.7);
$header-subtitle-color: rgba(255, 255, 255, 0.4);